<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Page</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Purchasable Stocks!</h1>
    <a href="/stocks/new">Purchase A Stock</a>
    <h2>Technology Stocks</h2>
    <div>
        <h2>AAPL</h2>
        <h3>Apple's stock</h3>
        <ul>
            <li>Amount of Shares: 500</li>
            <li>Marginality: Moderate Volatility</li>
            <li>Investment Requested: $100,000</li>
            <li>Price Per Share: $200</li>
        </ul>
    </div>

    <div>
        <h2>NVDA</h2>
        <h3>Nvidia's stock</h3>
        <ul>
            <li>Amount of Shares: 200</li>
            <li>Marginality: High Volatility</li>
            <li>Investment Requested: $90,000</li>
            <li>Price Per Share: $450</li>
        </ul>
    </div>

    <div>
        <h2>AMZN</h2>
        <h3>Amazon's stock</h3>
        <ul>
            <li>Amount of Shares: 400</li>
            <li>Marginality: Low Volatility</li>
            <li>Investment Requested: $72,000</li>
            <li>Amount of Shares: 150</li>
        </ul>
    </div>

    <div>
        <h2>MSFT</h2>
        <h3>Microsoft's stock</h3>
        <ul>
            <li>Amount of Shares: 150</li>
            <li>Marginality: Low-to-Moderate Volatility</li>
            <li>Investment Requested: $45,000</li>
            <li>Price Per Share: $300</li>
        </ul>
    </div>

    <div>
        <h2>SSNLF</h2>
        <h3>Samsung's stock</h3>
        <ul>
            <li>Amount of Shares: 600</li>
            <li>Marginality: Moderate Volatility</li>
            <li>Investment Requested: $54,000</li>
            <li>Price Per Share: $90</li>
        </ul>
    </div>

    <h2>Automobile Stocks</h2>
    <div>
        <h2>TSLA</h2>
        <h3>Tesla's stock</h3>
        <ul>
            <li>Amount of Shares: 300</li>
            <li>Marginality: High Volatility</li>
            <li>Investment Requested: $75,000</li>
            <li>Price Per Share: $250</li>
        </ul>
    </div>

    <div>
        <h2>F</h2>
        <h3>Ford's stock</h3>
        <ul>
            <li>Amount of Shares: 1,000</li>
            <li>Marginality: Moderate Volatility</li>
            <li>Investment Requested: $15,000</li>
            <li>Price Per Share: $15</li>
        </ul>
    </div>

    <div>
        <h2>GM</h2>
        <h3>General Motor's stock</h3>
        <ul>
            <li>Amount of Shares: 800</li>
            <li>Marginality: High Volatility</li>
            <li>Investment Requested: $248,000</li>
            <li>Price Per Share: $310</li>
        </ul>
    </div>

    <div>
        <h2>TM</h2>
        <h3>Toyota's stock</h3>
        <ul>
            <li>Amount of Shares: 225</li>
            <li>Marginality: Low-to-Moderate Volatility</li>
            <li>Investment Requested: $67,500</li>
            <li>Price Per Share: $300</li>
        </ul>
    </div>

    <div>
        <h2>VWAGY</h2>
        <h3>Volkswagen's stock</h3>
        <ul>
            <li>Amount of Shares: 150</li>
            <li>Marginality: Moderate Volatility</li>
            <li>Investment Requested: $23,250</li>
            <li>Price Per Share: $155</li>
        </ul>
    </div>

    <h2>Airline Stocks</h2>
    <div>
        <h2>QTR</h2>
        <h3>Qatar Airways's stock</h3>
        <ul>
            <li>Amount of Shares: 800</li>
            <li>Marginality: Moderate Volatility</li>
            <li>Investment Requested: $40,000</li>
            <li>Price Per Share: $50</li>
        </ul>
    </div>

    <div>
        <h2>EMR</h2>
        <h3>Emirates Airline's stock</h3>
        <ul>
            <li>Amount of Shares: 1,000</li>
            <li>Marginality: Moderate Volatility</li>
            <li>Investment Requested: $70,000</li>
            <li>Price Per Share: $70</li>
        </ul>
    </div>

    <div>
        <h2>SDA</h2>
        <h3>Saudia's stock</h3>
        <ul>
            <li>Amount of Shares: 600</li>
            <li>Marginality: High Volatility</li>
            <li>Investment Requested: $24,000</li>
            <li>Amount of Shares: 40</li>
        </ul>
    </div>

    <div>
        <h2>BAH</h2>
        <h3>Gulf Air's stock</h3>
        <ul>
            <li>Amount of Shares: 400</li>
            <li>Marginality: High Volatility</li>
            <li>Investment Requested: $12,000</li>
            <li>Price Per Share: $30</li>
        </ul>
    </div>

    <div>
        <h2>OMA</h2>
        <h3>Oman Air's stock</h3>
        <ul>
            <li>Amount of Shares: 350</li>
            <li>Marginality: Moderate-to-High Volatility</li>
            <li>Investment Requested: $10,500</li>
            <li>Price Per Share: $30</li>
        </ul>
    </div>
</body>

</html>