<!DOCTYPE html>
<html>

<head>
    <title>Buy Stock</title>
</head>

<body>
    <h1>Buy a Stock</h1>
    <form action="/stocks" method="POST">
        <label for="symbol">Select Stock:</label>
        <select name="symbol" id="symbol">
            <% stocks.forEach(stock=> { %>
                <option value="<%= stock.symbol %>">
                    <%= stock.symbol %> - <%= stock.name %> ($<%= stock.price %>)
                </option>
                <% }) %>
        </select>
        <br><br>

        <label for="shares">Shares to Buy:</label>
        <input type="number" name="shares" id="shares" min="1" required>
        <br><br>

        <button type="submit">Buy</button>
    </form>
    <a href="/stocks">Back to Portfolio</a>
</body>

</html>