<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Details</title>
</head>

<body>
    <h1>
        <%= stock.symbol %> - Details
    </h1>
    <p>Name: <%= stock.name %>
    </p>
    <p>Shares Purchased: <%= stock.shares %>
    </p>
    <p>Price per Share: $<%= stock.price %>
    </p>

    <a href="/stocks">Back to Portfolio</a>
</body>

</html>