<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/mainpage.css" />
  <title>Finflare</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
      <h1>Welcome to Finflare, <%= user.username %>!</h1>
      <p>
        <a href="/auth/sign-out">Sign out</a>
      </p>
      <% } else { %>
        <h1>Welcome to Finflare, guest.</h1>
        <p>
          <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>.
        </p>
        <% } %>
          <h3>Welcome to FinFlare, the place for simulated stock investments! Jump into the excitement world of
            investing.
            Whether you have experience in investments or you are new, it can be a great opportunity to make some cash!
          </h3>

          <h3>FAQs:
            <ul>
              <li>1. How do I sign up for an account at FinFlare?
                Signing up for an account is simple! Just click "Sign Up" on our homepage and fill out all of the
                required fields, you will be investing in just a few minutes!
              </li>
              <li>
                2. How often is the market updated?
                The market in FinFlare is updated in real-time market conditions to provide user with a full investing
                experience.
              </li>
              <li>
                3. Who can sign up for FinFlare?
                Anyone interested in learning about stock investments can sign up for FinFlare! However, users must be at
                least 13 years old to create an account. We encourage parents to supervise younger users.
              </li>
            </ul>
          </h3>

          <h3>Support</h3>
          <p>customersupport@finflare.com</p>

</body>

</html>